@using OnlineTicariOtomasyon.Models.Class
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>Toplamda @Model.Count() adet  ürün vardır.</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ürün Adı</th>
            <th scope="col">Marka</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Alış Fiyatı</th>
            <th scope="col">Satış Fiyatı</th>
            <th scope="col">Görsel</th>
            <th scope="col">Stok Sayısı</th>
            <th scope="col">Oluşturma Tarihi</th>
            <th scope="col">Son Güncelleme Tarihi</th>
            <th scope="col">Durumu</th>
            <th scope="col">Bağlı Olduğu Kategori</th>
            <th scope="col">Sil</th>
            <th scope="col">Güncelle</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <th>@item.Id</th>
            <th>@item.ProductName</th>
            <th>@item.Brand</th>
            <th>@item.Description</th>
            <th>@item.BuyingPrice ₺</th>
            <th>@item.SellingPrice ₺</th>
            <th>@item.İmageUrl</th>
            <th>@item.Stock</th>
            <th>@item.CreatedDate</th>
            <th>@item.UpdatedDate</th>

            <th>@item.Status</th>
            <th>@item.Category.CategoryName</th>
            <th><a href="/Product/ProductDelete/@item.Id" class="btn btn-danger">Sil</a></th>
            <th><a href="/Product/GetProduct/@item.Id" class="btn btn-info">Güncelle</a></th>


        </tr>
        }
    </tbody>

</table>
<a href="/Product/ProductAdd/" class="btn btn-primary">Ürün Ekle</a>
<a href="/Product/ReportWizardProduct/" class="btn btn-primary" >Yazdır</a>

