@using OnlineTicariOtomasyon.Models.Class
@model List<SalesMove>
@{
    ViewBag.Title = "CurrentSalesHistory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5 class="alert alert-default-info" style="text-align:center"><b style="color:red">@ViewBag.cr</b> Adlı Cariye Ait Satış Geçmişi </h5>
<div>
    <section class="content">
        <div class="container-fluid">
            <table class="table table-borderes">
                <tr>
                    <th>#</th>
                    <th>Ürün Adı</th>
                    <th>Satış Yapan Personel</th>
                    <th>Fiyat</th>
                    <th>Adet</th>
                    <th>Toplam Tutar</th>
                    <th>Satış Tarihi</th>
                    <th>Operasyon</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.Id</td>
                        <td>@item.Product.ProductName </td>

                        <td>@item.Employee.EmployeeName @item.Employee.EmployeeSurname</td>

                        <td>@item.Price</td>
                        <td>@item.Amount</td>
                        <td>@item.TotalPrice</td>
                        <td>@item._Date</td>
                        <td><a href="#" class="btn btn-default" style="background-color:lightyellow">Yazdır</a></td>
                    </tr>

                }


            </table>
        </div>
    </section>



</div>










