@model OnlineTicariOtomasyon.Models.Class.Current
@{
    ViewBag.Title = "CurrentAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5 class="alert alert-default-info" style="text-align:center"> Yeni Kategori Ekle</h5>

<form class="form-group" method="post">
    @Html.Label("Cari Adı:")
    @Html.TextBoxFor(c => c.CurrentName, new { @class = "form-control" })

    @Html.Label("Cari Soyadı:")
    @Html.TextBoxFor(c => c.CurrentSurname, new { @class = "form-control" })

    @Html.Label("Açıklama:")
    @Html.TextBoxFor(c => c.CurrentDescription, new { @class = "form-control" })

    @Html.Label("Şehir:")
    @Html.TextBoxFor(c => c.City, new { @class = "form-control" })

    @Html.Label("Email Adresi:")
    @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Kaydet</button>



</form>

