@using OnlineTicariOtomasyon.Models.Class
@model List<Invoice>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>Toplamda @Model.Count() adet  ürün vardır.</p>
<table id="InvoiceIndex" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Seri No</th>
            <th scope="col">Sıra No</th>
            <th scope="col">Tarih</th>
            <th scope="col">Vergi Dairesi</th>
            <th scope="col">Saat</th>
            <th scope="col">Toplam Tutar</th>
            <th scope="col">Fatura Güncelle</th>
            <th scope="col">Detaylar</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <th>@item.SerialNo</th>
                <th>@item.RowNo</th>
                <th>@item._Date</th>
                <th>@item.TaxOffice </th>
                <th>@item._Time</th>
                <th>@item.TotalPrice</th>

                <th><a href="/Invoice/InvoiceDetail/@item.Id" class="btn btn-danger">Detaylar</a></th>



            </tr>
        }
    </tbody>

</table>
<a href="/Invoice/InvoiceAdd/" class="btn btn-primary">Yeni Fatura Oluştur</a>



<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#InvoiceIndex').dataTable({});
</script>