@using OnlineTicariOtomasyon.Models.Class
@model List<Invoice>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p>Toplamda @Model.Count() adet  ürün vardır.</p>
<table id="InvoiceIndex" class="table table-bordered">
    <thead>
        <tr>

            <th scope="col">Seri No</th>
            <th scope="col">Sıra No</th>
            <th scope="col">Tarih</th>

            <th scope="col">Saat</th>
            <th scope="col">Vergi Dairesi</th>
            <th scope="col">Toplam Tutar(₺)</th>

            <th scope="col">Detaylar</th>
            <th scope="col">Yeni Kalem</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <th>@item.SerialNo</th>
                <th>@item.RowNo</th>
                <th>@item._Date</th>
                <th>@item.TaxOffice </th>
                <th>@item._Time</th>
                <th>@item.TotalPrice ₺</th>

                <th><a href="/Invoice/InvoiceDetail/@item.Id" class="btn btn-danger">Detaylar</a></th>
                <th><a href="/Invoice/InvoiceAdd/@item.Id" class="btn btn-danger">Yeni Kalem Girişi</a></th>



            </tr>
        }
    </tbody>

</table>
<a href="/Invoice/InvoiceAdd/" class="btn btn-primary">Yeni Fatura Oluştur</a>
<br />
<br />
<button type="button" class="btn btn-primary" style="background-color:aqua;color:white"
        data-toggle="modal" data-target="#modal1">
    PopUp Penceresi
</button>

<div class="modal" id="modal1">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Popup Dialog Ekranı</h2>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Sıra No ve Seri No</td>
                        <td>Tarih</td>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.SerialNo-@item.RowNo</td>
                        </tr>
                    }

                </table>
                <button type="button" class="=btn btn-danger" data-dismiss="modal">Vazgeç</button>


            </div>
        </div>
    </div>
</div>


