@model OnlineTicariOtomasyon.Models.Class.InvoiceExpense
@{
    ViewBag.Title = "NewInvoiceExpense";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h5 style="text-align:center" class="alert alert-default-info">Yeni Ürün Ekle</h5>
<br />

<form class="form-group" method="post">




    @Html.Label("Açıklama:")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })


    @Html.Label("Alış Fiyatı:")
    @Html.TextBoxFor(x => x.BuyingPrice, new { @class = "form-control" })


    @Html.Label("Satış Fiyatı:")
    @Html.TextBoxFor(x => x.SellingPrice, new { @class = "form-control" })


    @Html.Label("Ürün Resmi:")
    @Html.TextBoxFor(x => x.İmageUrl, new { @class = "form-control" })


    @Html.Label("Stok:")
    @Html.TextBoxFor(x => x.Stock, new { @class = "form-control" })


    @Html.Label("Durum:")
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })


    @Html.Label("Kategori:")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.value, new { @class = "form-control" })
    <br />


    <button class="btn btn-success">Kaydet</button>

</form>
