@using OnlineTicariOtomasyon.Models.Class
@model List<SalesMove>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p class="alert alert-default-info">Toplam Satış Sayısı:<b style="color:red">@Model.Count()</b></p>
<table id="saleIndex" class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ürün</th>
            <th scope="col">Cari Adı</th>
            <th scope="col">Personel</th>
            <th scope="col">Adet</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Toplam Tutar</th>
            <th scope="col">Tarih</th>
            <th scope="col">Detaylar</th>
            <th scope="col">Güncelle</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>


                <th>@item.Id</th>
                <th>@item.Product.ProductName</th>
                <th>@item.Current.CurrentName @item.Current.CurrentSurname</th>
                <th>@item.Employee.EmployeeName @item.Employee.EmployeeSurname</th>
                <th>@item.Amount </th>
                <th>@item.Price </th>
                <th>@item.TotalPrice</th>
                <th>@item.Date_</th>


                <th><a href="#" class="btn btn-outline-danger">Güncelle</a></th>
                <th><a href="/Sale/SaleDetail/@item.Id" class="btn btn-outline-warning">Detay</a></th>



            </tr>
        }
    </tbody>

</table>
<a href="/Sale/NewSale/" class="btn btn-primary">Yeni Satış Kaydı</a>


<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#saleIndex').dataTable({});
</script>